<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLŌWERPLUS 花加</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        footer {
            margin: 1.406rem 1.406rem 0.4688rem;
            text-align: center;
        }

        footer span {
            font-size: 0.28rem;
            color: #999;
        }

        img {
            width: 100%;
        }

        .two img {
            width: 49%;
        }
    </style>
</head>

<body>
    <div>
        <img src="https://oss.flowerplus.cn/market/2019-10-08/market5d9c5c288e714.png!60" alt="">
    </div>
    <div>
        <img src="https://oss.flowerplus.cn/market/2019-10-22/market5dae7e7e71d49.png!60" alt="">
    </div>
    <div>
        <img src="https://oss.flowerplus.cn/market/2019-05-29/market5cee2b015abe2.jpg!60" alt="">
    </div>
    <div>
        <img src="https://oss.flowerplus.cn/market/2019-05-29/market5cee2b08cbba4.jpg!60" alt="">
    </div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2019-05-29/market5cee4a60b7728.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2019-05-29/market5cee2b167c250.jpg!60" alt=""></div>
    <div>
        <img src="https://oss.flowerplus.cn/market/2019-05-29/market5cee2b1ebb28d.jpg!60" alt="">
    </div>

    <footer>
        <span>©2013-2020 上海分尚网络科技有限公司</span><br>
        <span>沪ICP备13016979</span>
    </footer>
</body>

</html>