<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLŌWERPLUS 花加</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        footer {
            margin: 1.4064rem 1.4064rem 0.4688rem;
            text-align: center;
        }

        footer span {
            font-size: 0.281rem;
            color: #999;
        }

        img {
            display: block;
            width: 100%;
        }

        .two {
            display: flex;
        }

        .two img {
            width: 50%;
        }
    </style>
</head>

<body>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb872cc28c.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb877675b3.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb87caf1b7.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb882e9656.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb88a90a45.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb88fb381f.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb8b1a6d2a.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb8b993e84.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb8c7822f6.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb8d4436b5.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb8e7d8782.jpg!60" alt=""></div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb8fb70bdc.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb90104b29.jpg!60" alt="">
    </div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbde3e0dcef7.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbde3e93bac5.jpg!60" alt="">
    </div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb935d2bab.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb93f9a6b7.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb94d1cfc2.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb9592a954.jpg!60" alt=""></div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb96e7bc41.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb97a53c26.jpg!60" alt="">
    </div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb98d64d9c.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb9946f1b3.jpg!60" alt="">
    </div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbe3c86bc945.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbe3c9127f1f.jpg!60" alt="">
    </div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdb9f81c819.jpg!60" alt=""></div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba0897929.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba0e628a9.jpg!60" alt="">
    </div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba14590ab.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba19bd344.jpg!60" alt="">
    </div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba25a77a6.jpg!60" alt=""></div>
    <div class="two">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba3697834.jpg!60" alt="">
        <img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba3b6e922.jpg!60" alt="">
    </div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba47ea743.jpg!60" alt=""></div>
    <div><img src="https://oss.flowerplus.cn/market/2020-11-25/market5fbdba4d31ad6.jpg!60" alt=""></div>
    <footer>
        <span>©2013-2020 上海分尚网络科技有限公司</span><br>
        <span>沪ICP备13016979</span>
    </footer>
</body>

</html>