<!-- 公共导入文件。SUI的使用等 -->
<style>
    * {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    ul,
    ol {
        list-style: none;
    }

    .line {
        display: flex;
    }
</style>
<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="/dist/css/sm-extend.min.css">
<script type='text/javascript' src='/js/jquery-3.4.1.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/dist/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/dist/js/sm-extend.js' charset='utf-8'></script>