<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>花加有礼</title>
    {{include "./commend.html"}}
    <style>
        p {
            text-align: center;
            font-size: 0.656rem;
            margin: 0;
        }
    </style>
</head>

<body>
    <p style="font-size: 1.406rem;">
        <span class="icon icon-cart"></span>
    </p>
    <p>暂无订单</p>

    {{include "./script.html"}}

</body>

</html>