<style>
    .icon>img {
        width: 60%;
        display: none;
    }

    .tab-item.active .icon>img:last-child {
        display: inline-block;
    }

    .tab-item.normal .icon>img:first-child {
        display: inline-block;
    }
    .footBar{
        position: fixed;
        bottom: 0;
    }
</style>
<!-- 底部工具栏导航 -->
<nav class="bar bar-tab footBar">
    <a class="tab-item external active" href="#">
        <span class="icon">
            <img src="/img/discovery/bar-index.png" alt="">
            <img src="/img/discovery/bar-index-active.png" alt="">
        </span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item external normal" href="#">
        <span class="icon">
            <img src="/img/discovery/bar-dis.png" alt="">
            <img src="/img/discovery/bar-dis-active.png" alt="">
        </span>
        <span class="tab-label">发现</span>
    </a>
    <a class="tab-item external normal" href="#">
        <span class="icon">
            <img src="/img/discovery/bar-self.png" alt="">
            <img src="/img/discovery/bar-self-active.png" alt="">
        </span>
        <span class="tab-label">我的</span>
    </a>
</nav>

<!-- 事件绑定 -->
<script>
    (function () {
        $(".footBar>a").click(function () {
            $(this).removeClass("normal").addClass("active").siblings().removeClass("active").addClass("normal");
        });
    })()
</script>