<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLŌWERPLUS 花加</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        img {
            width: 100%;
        }

        p {
            margin: 0 15px;
            padding: 10px 0px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(242, 242, 242);
        }

        .big {
            font-weight: bold;
            color: gray;
        }
    </style>
</head>

<body>
    <div>
        <img src="https://oss.flowerplus.cn/oss_png/2019-07-24/15639367182663.png!750" alt="">
    </div>
    <p>
        <span>
            物流查询
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
    <p>
        <span>
            客服资讯
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
    <p>
        <span>
            转赠好友
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
    <p>
        <span>
            随花配件
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
    <p>
        <span>
            企业服务通道
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
    <p>
        <span>
            鲜花预定及配送
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
    <p>
        <span>
            新用户首单送花瓶
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
    <p>
        <span>
            修改收货日期或地址
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
    <p>
        <span>
            FLOWERPLUS商城用户协议
        </span>
        <span class="big">
            &gt;
        </span>
    </p>
</body>

</html>