<script type='text/javascript' src='/dist/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/dist/js/sm-extend.js' charset='utf-8'></script>
<script src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="./dist/js/sm-city-picker.js" charset="utf-8"></script>
<script src="/js/moment.js"></script>
<!-- <script src="/js/moment.js"></script> -->
<script type="text/javascript" src="/dist/js/sm-city-picker.js" charset="utf-8"></script>
<script src="/js/moment.js"></script>
<script type="text/javascript" src="/dist/js/sm-city-picker.js" charset="utf-8"></script>
<script type="text/javascript" src="/dist/js/sm-city-picker.js" charset="utf-8"></script>
